header {
  background-color: #FCF7FC;
  width: 100%; }
  header nav {
    background-color: #900C3F;
    height: 60px; }
    header nav ul {
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      padding: 14px; }
      header nav ul a {
        text-decoration: none;
        color: white; }
      header nav ul a:hover {
        color: black; }
  header .titulo-header {
    padding-top: 40px; }
    header .titulo-header h1 {
      color: black;
      font-family: 'Pushster', cursive;
      font-size: 100px;
      display: flex;
      justify-content: center;
      animation-name: opacar;
      animation-duration: 2s; }
    header .titulo-header i {
      padding-left: 15px;
      color: black; }

@keyframes opacar {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  header .img-header img {
    width: 100%;
    animation-name: opacar2;
    animation-duration: 7s; }

@keyframes opacar2 {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

main {
  background-color: black;
  padding-top: 40px;
  height: 400px; }
  main .box {
    background-color: #900C3F; }
    main .box .box1, main .box .box2, main .box .box3 {
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid white; }
      main .box .box1 p, main .box .box2 p, main .box .box3 p {
        color: white; }

footer {
  margin-top: 60px; }
  footer .div-footer {
    display: flex;
    justify-content: center;
    background-color: black; }
    footer .div-footer p {
      color: white; }
